.add-wallet-button {
    width: 350px;
    height: 170px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(211, 248, 196);
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus {
    font-size: 4em;
    padding: 0;
}

.input-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#add-wallet-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 10px;
    width: 390px;
}

#add-wallet-form input[type="text"],
#add-wallet-form input[type="submit"] {
    padding: 10px;
    font-size: 1em;
    background-color: aliceblue;
    border: 1px solid green;
    border-radius: 5px;
    width: 100%;
    -webkit-appearance: none;
}

#add-wallet-form input[type="text"]:focus {
    outline: none;
}

#add-wallet-form label {
    font-size: 1.3em;
}