li{
    list-style: none;
}
.transactions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}
.transactions-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.transaction{
    /* background-color: rgb(183, 222, 183); */
    width: 360px;
    padding: 5px 15px;
}
.transaction-description{
    font-style: italic;
}

.incoming-transaction{
    background-color: rgba(0, 128, 0, 0.250);
    
}
.incoming-transaction .transaction-amount{
    color: green;
}
.outgoing-transaction{
    background-color: rgba(255, 127, 80, 0.250);

}
.outgoing-transaction .transaction-amount{
    color: coral;
}